        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>@@title</title>
        <meta name="description" content="description">
        <meta name="keywords" content="keywords">
        <link rel="icon" type="image/x-icon" sizes="16x16" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
        <link rel="manifest" crossorigin="use-credentials" href="img/favicon/site.webmanifest">


        <link rel="stylesheet" href="css/style.min.css">

        <!-- <link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-regular.woff2" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-600.woff2" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="fonts/open-sans/open-sans-v27-latin_cyrillic-700.woff2" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-500.woff2" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-600.woff2" type="font/woff2" crossorigin>
        <link rel="preload" as="font" href="fonts/montserrat/montserrat-v18-latin_cyrillic-700.woff2" type="font/woff2" crossorigin> -->